@@ -9,11 +9,15 @@ body {
}

figure img {
  width: 100%;
  height: auto;
  min-height: 95%;
  max-height: 95%;
  max-width: 100%;
}

figure {

  height: 50vh;

  margin-bottom: 30px;
  background-color: #7a93b1;
  padding: 15px;
@ -22,7 +26,7 @@ figure {
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  /* animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
}

/* The animation code */
@ -84,6 +88,7 @@ header .row {
  display: flex;
  align-items: center;
}

row {
	justify-content: center;
	align-items: center;
@ -226,7 +231,7 @@ section.container .row {
.jumbotron {
  display: flex;
  align-items: center;
  height: 400px;
  height: 75vh;
  background-image: url('https://steffic17.github.io/Images/Cirrus.jpg');
  background-size: cover;
  background-position: center;
